.image-container {
  position: relative;
  width: 20%;
  cursor: pointer;
  padding: 10px;
}
.image-container .title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: all 0.25s ease-in-out;
}
.image-container:before {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    transform: scale(0);
}
.image-container:hover:before{
    opacity: 1;
    transform: scale(1);
    transition: all 0.25s ease-in-out;
}
.image-container:hover .title{
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.image img {
    width: 100%;
}